<%- include('partials/header') %>

<div class="navbar">
    <nav>
        <label class="logo"><a href="./">Tagg</a></label>
        <!--alternate logo-->
        <ul>
            <li><a href="./register"><button class="createAcc" type="submit">Create Account</button></a></li>
            <li><a href="./login"><button class="login" type="submit">Login</button></a></li>
        </ul>
    </nav>
</div>

<%- include('partials/footer') %>