<%- include('partials/header') %>

<nav class="navbar">
    <div class="max-width">
        <div class="logo"><a href="#">Ta<span>gg.</span></a></div>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>

<!-- home section starts -->
<section class="home" id="home">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">Lorem ipsum dolor sit</div>
            <div class="text-2">Quasi ut </div>
            <div class="text-3"><span class="typing"></span></div>
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
</section>

<!-- about section starts -->
<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">About Us</h2>
        <div class="about-content">
            <div class="column right">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ut voluptatum eveniet doloremque autem excepturi eaque, sit laboriosam voluptatem nisi delectus. Facere explicabo hic minus accusamus alias fuga nihil dolorum quae. Explicabo illo unde, odio consequatur ipsam possimus veritatis, placeat, ab molestiae velit inventore exercitationem consequuntur blanditiis omnis beatae. Dolor iste excepturi ratione soluta quas culpa voluptatum repudiandae harum non.</p>
            </div>
        </div>
    </div>
</section>

<!-- footer section starts -->
<footer>
    <span><span class="far fa-copyright"></span> 2021 All rights reserved.</span>
</footer>


<%- include('partials/footer') %>