<%- include('partials/header') %>

    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">Ta<span>gg.</span></a></div>
        </div>
    </nav>

    <!-- home section starts -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-2">Tag along with your friends to college.</div>
                <div class="text-1">Join the community 🙌 </div>
                <div class="text-3"><span class="typing"></span></div>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </div>
    </section>

    <!-- about section starts -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About Us</h2>
            <div class="about-content">
                <div class="home-content">

                    <p>The goal of the Tagg project is to assist Dayanand Sagar College
                        students with their parking
                        issues. Finding an empty spot in our parking lot has become increasingly difficult as the number
                        of vehicles seeking for space has grown.
                    </p>

                    <br>
                    <br>
                    <p>
                        Tagg allows the students of DSCE to tag along with other students and reach the college
                        efficiently.
                        This will help the campus to reduce the number of vehicle there by enabling space management.

                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- footer section starts -->
    <footer>
        <span><span class=" far fa-copyright"></span> 2021 All rights reserved.</span>
    </footer>


    <%- include('partials/footer') %>
