<%- include('partials/header') %>

<nav class="navbar">
    <div class="max-width">
        <div class="logo"><a href="#">Ta<span>gg.</span></a></div>
    </div>
</nav>
    <h1>This page is login page</h1>
    <h1 class="login-logo">Logo goes here</h1>


    <div class="login-prompt">
        <button id="login-button1">Register as a rider</button>
        <button id="login-button2">Register as a tag</button>
    </div>

    <%- include('partials/footer') %>
