<%- include('partials/header') %>

    <div class="login-body-rider">
        <div class="center">
            <h1>Rider Login</h1>
            <form method="post">
                <div class="txt_field">
                    <input type="text" required>
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <input type="submit" value="Login">
                <div class="signup_link">
                    Not a rider? <a href="/register-rider">Signup</a>
                </div>
            </form>
        </div>
    </div>


    <%- include('partials/footer') %>
