<%- include('partials/header') %>

    <h1>This is register page</h1>
    <h1 class="register-logo">Logo goes here</h1>


    <div class="register-prompt">
        <button id="register-button1">Register as a rider</button>
        <button id="register-button2">Register as a tag</button>
    </div>

    <%- include('partials/footer') %>
