<%- include('partials/header') %>
  <div class="register-body">
    <div class="container">
      <div class="title">Register as Rider</div>
      <div class="content">
        <form action="/register-rider" method="POST">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Full Name</span>
              <input type="text" placeholder="Enter your name" name="name" required>
            </div>
            <div class="input-box">
              <span class="details">USN</span>
              <input type="text" placeholder="Enter your USN" name="usn" required>
            </div>
            <div class="input-box">
              <span class="details">Aadhaar number</span>
              <input type="text" placeholder="Enter your Aadhaar number" name="aadharNo" required>
            </div>

            <div class="input-box">
              <span class="details">DL number</span>
              <input type="text" placeholder="Enter your DL Number" name="dlNo" required>
            </div>
            <div class="input-box">
              <span class="details">Phone Number</span>

              <input type="text" placeholder="Enter your Mobile number" name="phoneNo" required>
              <!-- <input type="tel" placeholder="Enter your Mobile number" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" name="phoneNo"
                required> -->
            </div>
            <div class="input-box">
              <span class="details">Password</span>
              <input type="text" placeholder="Enter your password" name="password" required>
            </div>
            <div>
              <label for="myfile">Select File(Aadhaar):</label>
              <input type="file" id="myfile" name="myfile">
            </div>

          </div>
          <div>
            <label for="myfile">Select File(DL):</label>
            <input type="file" id="myfile" name="myfile">
          </div>

          <div class="button">
            <input type="submit" value="Register">
          </div>

        </form>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>
