<%- include('partials/header') %>
<div class="status-body">
 
<table class="dataTable">
  <thead>
      <tr>
          <th>SL.NO</th>
          <th>USN</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Status</th>
          
      </tr>
  </thead>
  <tbody>
      
      
    <tr>
      <td>1</td>
      <td>Dheemanth</td>
      <td>75.54678</td>
      <td>10.45763</td>
      
      <td>
        <input type="checkbox"> Confirm ride
      </td>
  </tr>
  <tr>
    <td>2</td>
    <td>Prajna</td>
    <td>75.54878</td>
    <td>10.45363</td>
    
    <td>
      <input type="checkbox"> Confirm ride
    </td>
</tr>
<tr>
  <td>3</td>
  <td>Sambhrama</td>
  <td>75.84678</td>
  <td>10.85763</td>
  
  <td>
    <input type="checkbox"> Confirm ride
  </td>
</tr>
<tr>
  <td>4</td>
  <td>Neethu</td>
  <td>75.847678</td>
  <td>10.87763</td>
  
  <td>
    <input type="checkbox"> Confirm ride
  </td>
</tr>
<tr>
  <td>5</td>
  <td>Jisha</td>
  <td>75.844788</td>
  <td>10.857463</td>
  
  <td>
    <input type="checkbox"> Confirm ride
  </td>
</tr>
      <tr>
          <td>6</td>
          <td>Mownika</td>
          <td>75.87358</td>
          <td>10.88563</td>
         
          <td>
            <input type="checkbox"> Confirm ride
          </td>
      </tr>
      <tr>
          <td>7</td>
          <td>Vishwa</td>
          <td>75.874678</td>
          <td>10.854783</td>
          
          <td>
              
            <input type="checkbox"> Confirm ride
          </td>
      </tr>
      <tr>
          <td>8</td>
          <td>Vinayak</td>
          <td>75.4758</td>
          <td>10.8763</td>
          
          <td>
            <input type="checkbox"> confirm ride
          </td>
      </tr>
  </tbody>
</table>
</div>
<%- include('partials/footer') %>