<%- include('partials/header') %>
<div class="status-body">
 
<table class="dataTable">
  <thead>
      <tr>
          <th>SL.NO</th>
          <th>USN</th>
          <th>latitude</th>
          <th>longitute</th>
          <th>status</th>
          
      </tr>
  </thead>
  <tbody>
      
      
    <tr>
      <td>1</td>
      <td>Dr. Wolverine Longer Text Test</td>
      <td>154</td>
      <td>03/29/1976</td>
      
      <td>
        <input type="checkbox"> confirm ride
      </td>
  </tr>
  <tr>
    <td>1</td>
    <td>Dr. Wolverine Longer Text Test</td>
    <td>154</td>
    <td>03/29/1976</td>
    
    <td>
      <input type="checkbox"> confirm ride
    </td>
</tr>
<tr>
  <td>1</td>
  <td>Dr. Wolverine Longer Text Test</td>
  <td>154</td>
  <td>03/29/1976</td>
  
  <td>
    <input type="checkbox"> confirm ride
  </td>
</tr>
<tr>
  <td>1</td>
  <td>Dr. Wolverine Longer Text Test</td>
  <td>154</td>
  <td>03/29/1976</td>
  
  <td>
    <input type="checkbox"> confirm ride
  </td>
</tr>
<tr>
  <td>1</td>
  <td>Dr. Wolverine Longer Text Test</td>
  <td>154</td>
  <td>03/29/1976</td>
  
  <td>
    <input type="checkbox"> confirm ride
  </td>
</tr>
      <tr>
          <td>2</td>
          <td>Dr. Tarheel</td>
          <td>113</td>
          <td>03/30/1981</td>
         
          <td>
            <input type="checkbox"> confirm ride
          </td>
      </tr>
      <tr>
          <td>3</td>
          <td>Dr. Orange</td>
          <td>147</td>
          <td>03/30/1987</td>
          
          <td>
              
            <input type="checkbox"> confirm ride
          </td>
      </tr>
      <tr>
          <td>4</td>
          <td>Dr. Who</td>
          <td>000</td>
          <td>04/08/2013</td>
          
          <td>
            <input type="checkbox"> confirm ride
          </td>
      </tr>
  </tbody>
</table>
</div>
<%- include('partials/footer') %>